<template>
  <div class="dashboard">
    <v-subheader>
      <v-icon class="mr-2">mdi-home</v-icon>
      <h3>
        Danh sách khách hàng
      </h3>
      <v-spacer></v-spacer>
      <v-btn
      color="primary"
      small
      dark
      elevation="3"
      fab
      @click="dialogAdd=true">
        <v-icon color="white">mdi-plus</v-icon>
      </v-btn>
    </v-subheader>
    <v-row class="mt-0">
      <v-col>
        <v-card>
          <v-data-table
          :headers="headers"
          :items="testAPIs"
          :items-per-page="10">
            <template v-slot:item="{item}">
              <tr>
                <td>{{item.title}}</td>
                <td>{{item.content}}</td>
                <td>{{item.postedDate}}</td>
                <td>
                  <div class="d-flex justify-end align-center">
                    <v-btn fab dark elevation="3" class=" mr-3" @click="dialogEdit=true,currentItem=item" x-small color="blue">
                      <v-icon>mdi-pencil</v-icon>
                    </v-btn>
                    <v-btn fab dark elevation="3" x-small color="blue" @click="dialogDelete=true, customerId=item.id">
                      <v-icon>mdi-delete</v-icon>
                    </v-btn>
                  </div>
                </td>
              </tr>
            </template>
          </v-data-table>
        </v-card>
      </v-col>
    </v-row>
    <v-dialog
      v-model="dialogDelete"
      max-width="480px"
      class="dialog-delete"
    >
      <v-card>
        <v-alert prominent type="error">
          <v-row align="center">
            <v-col class="text-center text-h5" cols="11">
             Bạn có thực sự muốn xóa?
            </v-col>
            <v-row align="center">
                <v-spacer></v-spacer>
                <v-col cols="5">
                  <v-btn
                    @click="deleteCustomer"
                    text
                  >Đồng ý</v-btn>
                </v-col>
                <v-col cols="5">

                  <v-btn
                  @click="dialogDelete=false">Hủy bỏ</v-btn>
                </v-col>
              </v-row>
          </v-row>
        </v-alert>
      </v-card>
    </v-dialog>
    <add
      :dialogAdd="dialogAdd"
      @close="dialogAdd=false"
      @updateData="getListCustomer"
    />
    <edit
      :dialogEdit="dialogEdit"
      :currentItem="currentItem"
      @close="dialogEdit=false"
      @updateData="getListCustomer"
    />
  </div>
</template>

<script>
import axios from 'axios'
import Add from './Add.vue'
import Edit from './Edit.vue'
export default {
  components: { Add, Edit },
  name: "TestAPI",
  data(){
    return{
      headers:[
        {text:'Title',value:'title'},
        {text:'Content',value:'content'},
        {text:'Date',value:'postedDate'},
        {text:'Chức năng',value:'action', align:"right"}
      ],
      testAPIs:[],
      dialogAdd: false,
      dialogEdit: false,
      dialogDelete: false,
      currentItem: null,
      customerId: null
    }
  },
  methods:{
    getListCustomer(){
      axios.get('https://localhost:44327/api/Customer/GetAllCustomer')
      .then((response) => {
        this.testAPIs = response.data;
        })
        .catch((error) => {
          console.log(error);
        })
    },
    deleteCustomer(){
      axios.delete('https://localhost:44327/api/Customer/DeleteCustomer?id='+this.customerId)
      .then((response)=>{
        if(response.data){
          var newArr = this.testAPIs.filter(x=>x.id != this.customerId);
          this.testAPIs = newArr;
          this.dialogDelete = false;
        }
      })
    }
  },
  created(){
    this.getListCustomer();
  }
}
</script>

<style>

</style>