<template>
  <v-app>
    <div>
      <v-container>
        <v-row class="ml-2">
          <v-container>
            <v-toolbar-title class="py-5 grey--text text--darken-4 text-h5" align="center">
              SÁCH VÀ ĐỒ DÙNG HỌC TẬP
            </v-toolbar-title>
          </v-container>
        </v-row>

        <v-row> 
          <v-col cols="12" md="3" class="mb-3">
            <v-hover v-slot:default="{ hover }">
              <v-card max-width="250" max-heith="250" align="center">
                <v-card-actions color="">
                  <v-spacer></v-spacer>
                </v-card-actions>
                <v-img
                  src="https://3.bp.blogspot.com/-nPZaZVr5V6A/W2mFEeASRwI/AAAAAAAABTA/8hmyYzeqCDks2HPo0lRmdbyw364P14-5gCLcBGAs/s640/12_GTCB-001ghgh.jpg"
                  width="200"
                  height="200"
                ></v-img>
                <v-card-text>
                <p1>BÁNH CÁ HÌNH CON LỢN</p1>
              </v-card-text>
                <v-card-actions>
                <v-btn color="success">THÊM VÀO GIỎ</v-btn>
                <v-btn color="success">XEM NGAY</v-btn>
              </v-card-actions>
                <v-expand-transition>
                  <div
                    v-if="hover"
                    class="
                      d-flex
                      transition-fast-in-fast-out
                      teal
                      lighten-3
                      v-card--reveal
                      display-3
                      white--text
                    "
                    style="height: 100%"
                  >
                    <v-btn outlined color="white"> Detail</v-btn>
                    <v-btn outlined color="white"> Order</v-btn>
                  </div>
                </v-expand-transition>
              </v-card>
            </v-hover>
          </v-col>
          <v-col cols="12" md="3" class="mb-4">
            <v-hover v-slot:default="{ hover }">
              <v-card max-width="250" max-heith="250" align="center">
                <v-card-actions color="">
                  <v-spacer></v-spacer>
                </v-card-actions>
                <v-img
                  src="https://tiinlove.net/wp-content/uploads/2017/06/len-ke-hoach-on-tap-mon-tieng-anh-danh-cho-hoc-sinh-lop-12-518x500.jpg"
                  width="200"
                  height="200"
                ></v-img>
                <v-card-text>
                <h2>100.000đ</h2>
              </v-card-text>
                <v-card-text class="teal lighten-2 white--text">
                  BÁNH CÁ HÌNH CON LỢN
                </v-card-text>
                <v-expand-transition>
                  <div
                    v-if="hover"
                    class="
                      d-flex
                      transition-fast-in-fast-out
                      teal
                      lighten-3
                      v-card--reveal
                      display-3
                      white--text
                    "
                    style="height: 100%"
                  >
                    <v-btn outlined color="white"> Detail</v-btn>
                    <v-btn outlined color="white"> Order</v-btn>
                  </div>
                </v-expand-transition>
              </v-card>
            </v-hover>
          </v-col>
          <v-col cols="12" md="3" class="mb-4">
            <v-hover v-slot:default="{ hover }">
              <v-card max-width="250" max-heith="250" align="center">
                <v-card-actions color="">
                  <v-spacer></v-spacer>
                </v-card-actions>
                <v-img
                  src="https://4.bp.blogspot.com/-LUUbxlaVJTQ/W2_niI_r8lI/AAAAAAAABgc/ZCRkIRK6trgUZd22mKB_qCPUQ2ChgE12ACEwYBhgL/s640/08_NCPT_VHB_T2-001dd.jpg"
                  width="200"
                  height="200"
                ></v-img>
              <v-card-text>
                <h2>100.000đ</h2>
              </v-card-text>
                <v-card-text class="teal lighten-2 white--text">
                  BÁNH CÁ HÌNH CON LỢN
                </v-card-text>
                <v-expand-transition>
                  <div
                    v-if="hover"
                    class="
                      d-flex
                      transition-fast-in-fast-out
                      teal
                      lighten-3
                      v-card--reveal
                      display-3
                      white--text
                    "
                    style="height: 100%"
                  >
                    <v-btn outlined color="white"> Detail</v-btn>
                    <v-btn outlined color="white"> Order</v-btn>
                  </div>
                </v-expand-transition>
              </v-card>
            </v-hover>
          </v-col>
          <v-col cols="12" md="3" class="mb-4">
            <v-hover v-slot:default="{ hover }">
              <v-card max-width="250" max-heith="250" align="center">
                <v-card-actions color="">
                  <v-spacer></v-spacer>
                </v-card-actions>
                <v-img
                  src="https://4.bp.blogspot.com/-RfeEtxaOgSg/W2_nfLupquI/AAAAAAAABgA/NlHHM6Q61W4kMKosh9rZVDdTVj6CEtDYgCEwYBhgL/s640/08_NCPT_VHB_T1-001dd.jpg"
                  width="200"
                  height="200"
                ></v-img>
                <v-card-text>
                <p1>BÁNH CÁ HÌNH CON LỢN</p1>
              </v-card-text>
                <v-card-actions>
                <v-btn color="success">THÊM VÀO GIỎ</v-btn>
                <v-btn color="success">XEM NGAY</v-btn>
              </v-card-actions>
                <v-expand-transition>
                  <div
                    v-if="hover"
                    class="
                      d-flex
                      transition-fast-in-fast-out
                      teal
                      lighten-3
                      v-card--reveal
                      display-3
                      white--text
                    "
                    style="height: 100%"
                  >
                    <v-btn outlined color="white"> Detail</v-btn>
                    <v-btn outlined color="white"> Order</v-btn>
                  </div>
                </v-expand-transition>
              </v-card>
            </v-hover>
          </v-col>

          <v-col cols="12" md="3" class="mb-4">
            <v-hover v-slot:default="{ hover }">
              <v-card max-width="250" max-heith="250" align="center">
                <v-card-actions color="">
                  <v-spacer></v-spacer>
                </v-card-actions>
                <v-img
                  src="https://i0.wp.com/upanh.redeptot.vn/photos/vanphongphamgiasi-cdh-vn/2020/08/gia-van-phong-pham_2.png?resize=600%2C600&quality=100&strip=all"
                  width="200"
                  height="200"
                ></v-img>

                <v-card-text class="red--text"> Bút hình con lợn </v-card-text>
                <v-expand-transition>
                  <div
                    v-if="hover"
                    class="
                      d-flex
                      transition-fast-in-fast-out
                      red
                      v-card--reveal
                      display-3
                      white--text
                    "
                    style="height: 100%"
                  >
                    <v-btn outlined color="white"> Detail</v-btn>
                  </div>
                </v-expand-transition>
              </v-card>
            </v-hover>
          </v-col>
          <v-col cols="12" md="3" class="mb-4">
            <v-hover v-slot:default="{ hover }">
              <v-card max-width="250" max-heith="250" align="center">
                <v-card-actions color="">
                  <v-spacer></v-spacer>
                </v-card-actions>
                <v-img
                  src="https://bota.vn/wp-content/themes/bncgroup/images/pos/nganh-hang/van-phong-pham/pencil.jpg"
                  width="200"
                  height="200"
                ></v-img>

                <v-card-text class="red--text">Máy in hình con lợn</v-card-text>
                <v-expand-transition>
                  <div
                    v-if="hover"
                    class="
                      d-flex
                      transition-fast-in-fast-out
                      red
                      v-card--reveal
                      display-3
                      white--text
                    "
                    style="height: 100%"
                  >
                    <v-btn outlined color="white"> Detail</v-btn>
                  </div>
                </v-expand-transition>
              </v-card>
            </v-hover>
          </v-col>
          <v-col cols="12" md="3" class="mb-4">
            <v-hover v-slot:default="{ hover }">
              <v-card max-width="250" max-heith="250" align="center">
                <v-card-actions color="">
                  <v-spacer></v-spacer>
                </v-card-actions>
                <v-img
                  src="https://cf.shopee.vn/file/02ac60779a06b7589f09839384f4ed7b"
                  width="200"
                  height="200"
                ></v-img>

                <v-card-text class="red--text"
                  >Máy tính hình con lợn</v-card-text
                >
                <v-expand-transition>
                  <div
                    v-if="hover"
                    class="
                      d-flex
                      transition-fast-in-fast-out
                      red
                      v-card--reveal
                      display-3
                      white--text
                    "
                    style="height: 100%"
                  >
                    <v-btn outlined color="white"> Detail</v-btn>
                  </div>
                </v-expand-transition>
              </v-card>
            </v-hover>
          </v-col>
          <v-col cols="12" md="3" class="mb-4">
            <v-hover v-slot:default="{ hover }">
              <v-card max-width="250" max-heith="250" align="center">
                <v-card-actions color="">
                  <v-spacer></v-spacer>
                </v-card-actions>
                <v-img
                  src="https://product.hstatic.net/1000362139/product/deli_6208_72f79b0457b648289d2e8b67230a826f_large.jpg"
                  width="200"
                  height="200"
                ></v-img>

                <v-card-text class="red--text"
                  >Con lợn hình con lợn</v-card-text
                >
                <v-expand-transition>
                  <div
                    v-if="hover"
                    class="
                      d-flex
                      transition-fast-in-fast-out
                      red
                      v-card--reveal
                      display-3
                      white--text
                    "
                    style="height: 100%"
                  >
                    <v-btn outlined color="white"> Detail</v-btn>
                  </div>
                </v-expand-transition>
              </v-card>
            </v-hover>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </v-app>
</template>

<script>

export default {
  name: "Home",
  computed: {
    data() {
      return[{
        page: 1,
      }]
    },
  },
};
</script>
<style>
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: 0.5;
  position: absolute;
  width: 100%;
}
</style>