<template>
  <v-navigation-drawer app width="180">
    <v-toolbar color="teal lighten-1" dark>
      <v-icon large color="white darken-2" class="mr-2">
        mdi-book-open-page-variant
      </v-icon>
      <v-toolbar-title>
        <span>TÂM BOOK</span>
      </v-toolbar-title>
    </v-toolbar>

    <v-divider></v-divider>

    <v-list color="transparent">
      <v-list-item class="ml-2" v-for="n in 7" :key="n" link>
        <v-list-item-content>
          <v-list-item-title>Văn phòng phẩm {{ n }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider class="my-2"></v-divider>

      <v-list-item link color="grey lighten-4">
        <v-list-item-content class="ml-2">
          <v-list-item-title> Refresh </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {};
</script>

<style>
</style>