<template>
  <v-app-bar app elevation="3" color="teal lighten-1" dark>
    <v-app-bar-nav-icon></v-app-bar-nav-icon>
    <v-toolbar-title>
      <v-text-field
        lable="Search"
        flat
        prepend-inner-icon="mdi-magnify"
        class="pl-10 ml-5"
        solo-inverted
        hide-details
      ></v-text-field>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <div>
      <v-dialog width="400" v-model="dialog">
        <template v-slot:activator="{ on, attrs }">
          <v-btn text color="white" dark v-bind="attrs" v-on="on" rounded
            >Đăng nhập
          </v-btn>
        </template>
        <v-card>
          <v-card-title primary-title class="teal lighten-1 white--text">
            ĐĂNG NHẬP
          </v-card-title>
          <v-card-text class="mt-5">
            <v-form>
              <v-text-field
                label="Tài khoản"
                name="account"
                prepend-inner-icon="mdi-account"
                type="account"
                class="rounded-5"
                outlined
              ></v-text-field>
              <v-text-field
                label="Mật khẩu"
                name="password"
                prepend-inner-icon="mdi-key-variant"
                :type="passwordShow ? 'text' : 'password'"
                :append-icon="passwordShow ? 'mdi-eye' : 'mdi-eye-off'"
                @click:append="passwordShow = !passwordShow"
                class="rounded-5"
                outlined
              ></v-text-field>
              <v-btn class="rounded-5" color="teal lighten-1" x-large block dark
                >Đăng nhập</v-btn
              >
              <v-card-actions class="text--secondary">
                <v-checkbox
                  color="teal lighten-1"
                  label="Nhớ mật khẩu"
                ></v-checkbox>
                <v-spacer></v-spacer>
                <!-- <router-link :to="{ name: 'SignUp' }">Sign Up</router-link> -->
                No account?
                <a href="#" class="pl-2" style="color: teal lighten-1"
                  >Đăng ký</a
                >
              </v-card-actions>
            </v-form>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            
            <v-btn depressed outlined color="grey">
              <v-icon color="red">mdi-google</v-icon>
            </v-btn>
            <v-btn depressed outlined color="grey">
              <v-icon color="blue">mdi-facebook</v-icon>
            </v-btn>
            <v-btn depressed outlined color="grey">
              <v-icon color="light-blue lighten-3">mdi-twitter</v-icon>
            </v-btn>
            <v-btn color="teal lighten-1" text @click="dialog = false">
              Hủy bỏ
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>

    <div>
      <v-dialog width="400" v-model="dialog1">
        <template v-slot:activator="{ on, attrs }">
          <v-btn text color="white" dark v-bind="attrs" v-on="on" rounded
            >Đăng ký
          </v-btn>
        </template>
        <v-card>
          <v-card-title primary-title class="teal lighten-1 white--text">
            ĐĂNG KÝ
          </v-card-title>
          <v-card-text class="mt-5">
            <v-form>
              <v-text-field
                label="Tài khoản"
                name="name"
                prepend-inner-icon="mdi-account"
                type="text"
                class="rounded-5"
                outlined
              ></v-text-field>
              <v-text-field
                label="Email"
                name="email"
                prepend-inner-icon="mdi-email"
                type="email"
                class="rounded-5"
                outlined
              ></v-text-field>
              <v-text-field
                label="Mật khẩu"
                name="password"
                prepend-inner-icon="mdi-key-variant"
                :type="passwordShow ? 'text' : 'password'"
                :append-icon="passwordShow ? 'mdi-eye' : 'mdi-eye-off'"
                @click:append="passwordShow = !passwordShow"
                class="rounded-5"
                outlined
              ></v-text-field>
              <v-btn class="rounded-0" color="teal lighten-1" x-large block dark
                >Đăng ký</v-btn
              >
              <v-card-actions class="text--secondary">
                <v-spacer></v-spacer>
                <!-- <router-link :to="{ name: 'SignUp' }">Sign Up</router-link> -->
                Đã có tài khoản?
                <a href="#" class="pl-2" color="teal lighten-1">Đăng nhập</a>
              </v-card-actions>
            </v-form>
          </v-card-text>
          <v-divider></v-divider>
        </v-card>
      </v-dialog>
    </div>
    <v-btn icon="mdi-cart" content="0">
      <v-icon>mdi-cart</v-icon>
    </v-btn>
  </v-app-bar>
</template>

<script>
export default {
  name: "Topbar",
  data() {
    return {
      dialog: false,
      dialog1: false,
      passwordShow: false,
    };
  },
};
</script>

<style>
</style>
