<template>
  <v-app id="inspire" :style="{background: $vuetify.theme.themes.dark.background}">
    <sidebar/>
    <v-container>
    <carousel-3d :controls-visible="true" :clickable="false" :height="300">
      <slide :index="i" :key="i" v-for="(slide, i) in slides">
        <figure>
          <img :src="slide.src" />
          <figcaption>
            <v-btn text color="white">{{slide.text}}</v-btn>
          </figcaption>
        </figure>
        </slide> 
    </carousel-3d>
    </v-container>
  </v-app>
</template>

<script>
 

import {Carousel3d, Slide} from "vue-carousel-3d"
import Sidebar from '../../components/Sidebar.vue'
  export default {
    name:'Slide',
    data: () => ({
      slides: [
        {src: "https://scontent.xx.fbcdn.net/v/t1.15752-9/248681496_286670050025961_3001981019772282972_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=aee45a&_nc_ohc=jN4gF6NeDr4AX-FxBQ3&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=ecceb778e80f9b39ce2fc020cfc90e1c&oe=61A9389A", text:'Rosé'},
        {src: "https://scontent.xx.fbcdn.net/v/t1.15752-9/249838972_435923101287075_3016583263527901389_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=aee45a&_nc_ohc=kSMq-tsE5owAX_QX-WT&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=712075f4762e42dac1a21f7cb3c8058d&oe=61A8672E", text:'Rosé'},
        {src: "https://scontent.xx.fbcdn.net/v/t1.15752-9/241520772_218412127053114_6214127606946197541_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=aee45a&_nc_ohc=tqSDZE-kMVUAX_w5XZ0&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=88e0d461bbe27f3b9a4731818ad6a66b&oe=619EBA03", text:'Rosé'},
        {src: "https://scontent.xx.fbcdn.net/v/t1.15752-9/248926724_363489888903606_1814962258875094753_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=aee45a&_nc_ohc=SLOPalflSXIAX-hbmIX&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=4d99bca9ee963ea760d94dc2ba21f664&oe=61A84A68", text:'Rosé'},
        {src: "https://scontent.xx.fbcdn.net/v/t1.15752-9/251378831_888908435129471_1754757490855802294_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=aee45a&_nc_ohc=Nnw5lmN09jEAX-O9jSm&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=ab729dd0f5d9e99a721359189e351770&oe=61A7BF9E", text:'Rosé'},
        {src: "https://scontent.xx.fbcdn.net/v/t1.15752-9/248693658_312648030334550_5526142146619179831_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=aee45a&_nc_ohc=MspA8ipoAawAX__deid&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=683b0319747a4ccb265d0db174f396ec&oe=61A7F7E4", text:'Rosé'},
        
      ]
    }),
    components: {
    Carousel3d,
    Slide,
    Sidebar
    },
  }
</script>
<style>
.carousel-3d-container figure {
  margin: 0;
}
.carousel-3d-container figcaption {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  bottom: 0;
  position: absolute;
  bottom: 0;
  padding: 15px;
  font-size: 12px;
  min-width: 100%;
  box-sizing: border-box;
}
.next span,
.prev span {
  color: orange;
}
</style>