<template>
  <v-app>
    <topbar class="topbar"/>
    <v-main style="background: #f5f5f540">
      <v-container class="">
        <router-view></router-view>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import Topbar from '@/components/Topbar.vue'

export default {
  components: { Topbar, },
  name: 'App'
}
</script>

<style>
</style>
