<template>
  <v-app>
    <topbar />

    <div class="row  header">
      <div class="col-2">
        <v-col>
          <v-list class="container">
            <v-list-item link color="grey lighten-4">
              <v-list-item-content>
                <v-list-item-title> DANH MỤC SẢN PHẨM </v-list-item-title>
              </v-list-item-content>
            </v-list-item>

            <v-list-item class="ml-2" v-for="n in 7" :key="n" link>
              <v-list-item-content>
                <v-list-item-title>Văn phòng phẩm {{ n }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-col>
      </div>

      <div class="col-8">
        <v-container>
          <carousel-3d
            :controls-visible="true"
            :clickable="false"
            :height="300"
          >
            <slide :index="i" :key="i" v-for="(slide, i) in slides">
              <figure>
                <img :src="slide.src" />
                <figcaption>
                  <v-btn text color="white">{{ slide.text }}</v-btn>
                </figcaption>
              </figure>
            </slide>
          </carousel-3d>
        </v-container>
      </div>
      <div class="col-2 imgright">
        <v-col class="imgdiv">
          <v-img
            src="https://privatebooks.files.wordpress.com/2020/12/giphy-1.gif"
            width="200"
            height="140"
          ></v-img>
          <v-img
            src="https://acegif.com/wp-content/gifs/book-42.gif"
            width="200"
            height=""
          ></v-img>
          <v-img
            src="https://images.squarespace-cdn.com/content/v1/56ee1c1422482eaae2c3ca0e/1516600243285-OK64XADF90STRFFDVLIG/sale.gif?format=1000w"
            width="200"
            height=""
          ></v-img>
          <v-img
            src="https://cdn.dribbble.com/users/493823/screenshots/2120525/book-flip-60fps-dribbs.gif"
            width="200"
            height=""
          ></v-img>
        </v-col>
      </div>
    </div>

    <home />
    <v-content>
      <v-pagination
        color="teal lighten-1"
        v-model="page"
        :length="10"
        :total-visible="7"
        prev-icon="mdi-menu-left"
        next-icon="mdi-menu-right"
      ></v-pagination>
    </v-content>

    <v-container>
      <v-content>
        <v-row justify="center">
          <v-col lg="12" class="text-center">
            <!-- <v-subheader class="text-h4" justify="center"
              >SẢN PHẨM LIÊN QUAN</v-subheader> -->
            <p class="text-h4">SẢN PHẨM LIÊN QUAN</p>
            <p>
              TÂM BOOK - Góc review sách | thiết bị văn phòng | Chia sẽ những
              cuốn sách hay nên đọc nên xem =))
            </p>
          </v-col>

          <v-col lg="12">
            <div class="text-center">
              <v-chip
                @click="activeFooter = 'sach'"
                :color="
                  activeFooter === 'sach' ? 'teal lighten-1 white--text' : ''
                "
                class="mx-5"
                >SÁCH MÔN HỌC</v-chip
              >
              <v-chip
                @click="activeFooter = 'but'"
                :color="
                  activeFooter === 'but' ? 'teal lighten-1 white--text' : ''
                "
                class="mx-5"
                >BÚT HỌC TẬP</v-chip
              >
              <v-chip
                @click="activeFooter = 'dungcu'"
                :color="
                  activeFooter === 'dungcu' ? 'teal lighten-1 white--text' : ''
                "
                class="mx-5"
                >DỤNG CỤ HỌC TẬP
              </v-chip>
            </div>
          </v-col>
          <slot v-if="activeFooter === 'sach'">
            <v-col
              lg="3"
              v-for="(book, sachindex) in sachApps"
              :key="sachindex"
            >
              <v-card>
                <v-img
                  :src="book.image"
                  class="white--text align-end"
                  gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                  height="200px"
                >
                  <v-card-title>{{ book.title }}</v-card-title>
                </v-img>
              </v-card>
            </v-col>
          </slot>
          <slot v-if="activeFooter === 'but'">
            <v-col lg="3" v-for="(pen, butindex) in butApps" :key="butindex">
              <v-card>
                <v-img
                  :src="pen.image"
                  class="white--text align-end"
                  gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                  height="200px"
                >
                  <v-card-title>{{ pen.title }}</v-card-title>
                </v-img>
              </v-card>
            </v-col>
          </slot>

          <slot v-if="activeFooter === 'dungcu'">
            <v-col
              lg="3"
              v-for="(tool, dungcuindex) in dungcuApps"
              :key="dungcuindex"
            >
              <v-card>
                <v-img
                  :src="tool.image"
                  class="white--text align-end"
                  gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                  height="200px"
                >
                  <v-card-title>{{ tool.title }}</v-card-title>
                </v-img>
              </v-card>
            </v-col>
          </slot>
        </v-row>
      </v-content>
    </v-container>

    <v-footer>
      <v-content>
        <v-row justify="center" no-gutters>
          <v-divider></v-divider>
          <v-col
            class="teal lighten-1 py-2 text-center white--text text-h5"
            cols="12"
          >
            {{ new Date().getFullYear() }} — <strong>TÂM BOOK</strong>
            <v-subheader class="mt-4 white--text">
              Lầu 5, 387-389 Quế Võ - Bắc Ninh - Công Ty Cổ Phần Phát Hành Sách
              Bắc Ninh - TÂM BOOK hoặc C17 - Mạch Việt, Điện Biên, TP. Điện Biên
              Phủ, Việt Nam. Chúng tôi luôn trân trọng sự tin tưởng và ủng hộ
              của khách hàng khi đặt mua sản phẩm tại TAM BOOK. Do đó chúng tôi
              luôn cố gắng hoàn thiện dịch vụ tốt nhất phục vụ mọi nhu cầu mua
              sắm của quý khách.
            </v-subheader>
            <v-card-text>
              <v-btn
                v-for="icon in icons"
                :key="icon"
                class="mx-4 white--text"
                icon
              >
                <v-icon size="30px">
                  {{ icon }}
                </v-icon>
              </v-btn>
            </v-card-text>
          </v-col>
        </v-row>
      </v-content>
    </v-footer>
  </v-app>
</template>

<script>
import { Carousel3d, Slide } from "vue-carousel-3d";
import Home from "@/components/Home.vue";
import Topbar from "@/components/Topbar.vue";
export default {
  components: { Topbar, Home, Carousel3d, Slide },
  name: "MainLayout",
  data() {
    return {
      slides: [
        {
          src: "https://3.bp.blogspot.com/-nPZaZVr5V6A/W2mFEeASRwI/AAAAAAAABTA/8hmyYzeqCDks2HPo0lRmdbyw364P14-5gCLcBGAs/s640/12_GTCB-001ghgh.jpg",
          text: "SÁCH GIẢI TÍCH 12",
        },
        {
          src: "https://4.bp.blogspot.com/-9LeTQ5LI6pM/W2mDNT3bCSI/AAAAAAAABSk/UMtJgwsYEpA2G56A7oQaOtoHh5uatbUkwCEwYBhgL/s640/12_HHCB-001jkjkj.jpg",
          text: "SÁCH HÌNH HỌC 12",
        },
        {
          src: "https://4.bp.blogspot.com/-RfeEtxaOgSg/W2_nfLupquI/AAAAAAAABgA/NlHHM6Q61W4kMKosh9rZVDdTVj6CEtDYgCEwYBhgL/s640/08_NCPT_VHB_T1-001dd.jpg",
          text: "SÁCH TOÁN 8",
        },
        {
          src: "https://4.bp.blogspot.com/-LUUbxlaVJTQ/W2_niI_r8lI/AAAAAAAABgc/ZCRkIRK6trgUZd22mKB_qCPUQ2ChgE12ACEwYBhgL/s640/08_NCPT_VHB_T2-001dd.jpg",
          text: "SÁCH TOÁN 8",
        },
        {
          src: "https://1.bp.blogspot.com/-qGg4sByPzUI/XFA5iQkvvzI/AAAAAAAAByQ/YRayvyiRBpwjIlpRSBa1OCmujXtOT8_QgCLcBGAs/s1600/S%25C3%25A1ch%2Bgi%25C3%25A1o%2Bkhoa%2BTo%25C3%25A1n%2B5_Page0.jpg",
          text: "SÁCH TOÁN 5",
        },
        {
          src: "https://1.bp.blogspot.com/-WC30A29LITk/XG-QUdRhLpI/AAAAAAAACO0/_u52dxnB4_YPHcI8HoJCxVfgccyQpB1WQCLcBGAs/s1600/Giai-bai-tap-toan-6-tap2_Page1.jpg",
          text: "SÁCH TOÁN 6",
        },
      ],
      page: 1,
      icons: ["mdi-facebook", "mdi-phone", "mdi-email", "mdi-instagram"],
      activeFooter: "sach",
      sachApps: [
        {
          title: "Sách ngữ văn",
          image:
            "https://3.bp.blogspot.com/-nPZaZVr5V6A/W2mFEeASRwI/AAAAAAAABTA/8hmyYzeqCDks2HPo0lRmdbyw364P14-5gCLcBGAs/s640/12_GTCB-001ghgh.jpg",
        },
        {
          title: "Sách sinh học",
          image:
            "https://4.bp.blogspot.com/-9LeTQ5LI6pM/W2mDNT3bCSI/AAAAAAAABSk/UMtJgwsYEpA2G56A7oQaOtoHh5uatbUkwCEwYBhgL/s640/12_HHCB-001jkjkj.jpg",
        },
        {
          title: "Sách lịch sử",
          image:
            "https://4.bp.blogspot.com/-RfeEtxaOgSg/W2_nfLupquI/AAAAAAAABgA/NlHHM6Q61W4kMKosh9rZVDdTVj6CEtDYgCEwYBhgL/s640/08_NCPT_VHB_T1-001dd.jpg",
        },
        {
          title: "Sách địa lý",
          image:
            "https://4.bp.blogspot.com/-LUUbxlaVJTQ/W2_niI_r8lI/AAAAAAAABgc/ZCRkIRK6trgUZd22mKB_qCPUQ2ChgE12ACEwYBhgL/s640/08_NCPT_VHB_T2-001dd.jpg",
        },
        {
          title: "Sách hóa học",
          image:
            "https://1.bp.blogspot.com/-qGg4sByPzUI/XFA5iQkvvzI/AAAAAAAAByQ/YRayvyiRBpwjIlpRSBa1OCmujXtOT8_QgCLcBGAs/s1600/S%25C3%25A1ch%2Bgi%25C3%25A1o%2Bkhoa%2BTo%25C3%25A1n%2B5_Page0.jpg",
        },
        {
          title: "Sách tiếng anh",
          image:
            "https://1.bp.blogspot.com/-WC30A29LITk/XG-QUdRhLpI/AAAAAAAACO0/_u52dxnB4_YPHcI8HoJCxVfgccyQpB1WQCLcBGAs/s1600/Giai-bai-tap-toan-6-tap2_Page1.jpg",
        },
        {
          title: "Sách học tốt",
          image:
            "https://tiinlove.net/wp-content/uploads/2017/06/len-ke-hoach-on-tap-mon-tieng-anh-danh-cho-hoc-sinh-lop-12-518x500.jpg",
        },
      ],
      butApps: [
        {
          title: "Bút chì",
          image:
            "https://facebook.com/messaging/lightspeed/media_fallback/?entity_id=218412120386448&entity_type=3&width=2048&height=2048&access_token=EAAbcjYySe9YBAK1Ueuel1DbQIKZAtlvUCiktdUNtfCf4eVOWhBoem6Xk5B4EOyoAVBfKnre7PHYm5btiI70aHOBYYvjwVp5jxu8EgsMZAZBd5pBdbbOMKlDBBXvWlIt4EbpODf1PwnnqYL4rOTPXUzOzA94Yz4GmyZBtefkqCc4QiJyyVtpN6vlS44zHhSMZD",
        },
        {
          title: "Bút chì kim",
          image:
            "https://scontent.xx.fbcdn.net/v/t1.15752-9/248681496_286670050025961_3001981019772282972_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=aee45a&_nc_ohc=jN4gF6NeDr4AX-FxBQ3&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=ecceb778e80f9b39ce2fc020cfc90e1c&oe=61A9389A",
        },
        {
          title: "Bút sắc màu",
          image:
            "https://scontent.xx.fbcdn.net/v/t1.15752-9/248693658_312648030334550_5526142146619179831_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=aee45a&_nc_ohc=MspA8ipoAawAX__deid&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=683b0319747a4ccb265d0db174f396ec&oe=61A7F7E4",
        },
        {
          title: "Bút lông",
          image:
            "https://scontent.xx.fbcdn.net/v/t1.15752-9/248681496_286670050025961_3001981019772282972_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=aee45a&_nc_ohc=jN4gF6NeDr4AX-FxBQ3&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=ecceb778e80f9b39ce2fc020cfc90e1c&oe=61A9389A",
        },
        {
          title: "Bút mực",
          image:
            "https://scontent.xx.fbcdn.net/v/t1.15752-9/247555495_1086638455208133_3454079395534512992_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=aee45a&_nc_ohc=rZtA2xcXKV0AX-28W7w&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=0fc7679907238715d27d2f7b7e2d57da&oe=61A829C2",
        },
        {
          title: "Bút máy",
          image:
            "https://scontent.xx.fbcdn.net/v/t1.15752-9/210610724_343626814018814_1665215044178475580_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=aee45a&_nc_ohc=Maq6J41zNCwAX89epNC&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=d5a0e8681532d58534f800c3debd9e48&oe=61A20F2C",
        },
        {
          title: "Bút tô màu",
          image:
            "https://scontent.xx.fbcdn.net/v/t1.15752-9/248693658_312648030334550_5526142146619179831_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=aee45a&_nc_ohc=MspA8ipoAawAX__deid&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=683b0319747a4ccb265d0db174f396ec&oe=61A7F7E4",
        },
      ],
      dungcuApps: [
        {
          title: "Bảng viết",
          image:
            "https://scontent.xx.fbcdn.net/v/t1.15752-9/248693658_312648030334550_5526142146619179831_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=aee45a&_nc_ohc=MspA8ipoAawAX__deid&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=683b0319747a4ccb265d0db174f396ec&oe=61A7F7E4",
        },
        {
          title: "Hộp bút",
          image:
            "https://scontent.xx.fbcdn.net/v/t1.15752-9/251378831_888908435129471_1754757490855802294_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=aee45a&_nc_ohc=Nnw5lmN09jEAX-O9jSm&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=ab729dd0f5d9e99a721359189e351770&oe=61A7BF9E",
        },
        {
          title: "Ngòi bút",
          image:
            "https://scontent.xx.fbcdn.net/v/t1.15752-9/241520772_218412127053114_6214127606946197541_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=aee45a&_nc_ohc=tqSDZE-kMVUAX_w5XZ0&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=88e0d461bbe27f3b9a4731818ad6a66b&oe=619EBA03",
        },
        {
          title: "Tẩy trắng",
          image:
            "https://scontent.xx.fbcdn.net/v/t1.15752-9/249838972_435923101287075_3016583263527901389_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=aee45a&_nc_ohc=kSMq-tsE5owAX_QX-WT&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=712075f4762e42dac1a21f7cb3c8058d&oe=61A8672E",
        },
        {
          title: "Máy tính cầm tay",
          image:
            "https://scontent.xx.fbcdn.net/v/t1.15752-9/248926724_363489888903606_1814962258875094753_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=aee45a&_nc_ohc=SLOPalflSXIAX-hbmIX&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=4d99bca9ee963ea760d94dc2ba21f664&oe=61A84A68",
        },
        {
          title: "Thước kẻ",
          image:
            "https://scontent.xx.fbcdn.net/v/t1.15752-9/248681496_286670050025961_3001981019772282972_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=aee45a&_nc_ohc=jN4gF6NeDr4AX-FxBQ3&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=ecceb778e80f9b39ce2fc020cfc90e1c&oe=61A9389A",
        },
        {
          title: "Thước vuông",
          image:
            "https://scontent.xx.fbcdn.net/v/t1.15752-9/247555495_1086638455208133_3454079395534512992_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=aee45a&_nc_ohc=rZtA2xcXKV0AX-28W7w&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=0fc7679907238715d27d2f7b7e2d57da&oe=61A829C2",
        },
      ],
    };
  },
};
</script>

<style>
.header{
  margin-left: -180px;
  margin-right: -180px;
}

.carousel-3d-container figure {
  margin: 0;
}
.carousel-3d-container figcaption {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  bottom: 0;
  position: absolute;
  bottom: 0;
  padding: 15px;
  font-size: 12px;
  min-width: 100%;
  box-sizing: border-box;
}
.next span,
.prev span {
  color: rgb(0, 162, 255);
}
</style>